<!DOCTYPE html>
<html>
<head>
  <title>Free Speech Movement Archive</title>
  <link rel="stylesheet" href="static/css/bootstrap.css">
  <link rel="stylesheet" href="static/css/custom.css">
  <link rel="stylesheet" href="static/css/result.css">
  <link href ='http://fonts.googleapis.com/css?family=Oswald|Roboto' rel='stylesheet' type='text/css'>
</head>
<script type="text/javascript">

</script>
<body>
  {% include "header.html" %}
  <div id="type">
      {{results.fsmTypeOfResource[0]}}
  </div>
  <div id="result-wrapper">
    <div id="result">
      <p>Cite This!</p>

    
      <div id="article">
      {% if picture_link %}
        {% if results.fsmRelatedTitle %}
          <h2>{{"; ".join(results.fsmRelatedTitle)}}</h2>
        {% endif %}

        {% if results.fsmCreator %}
          <h3>{{"; ".join(results.fsmCreator)}}</h3>
        {% endif %}

        <div id="image">
          <img src={{picture_link}} style="max-height:100%" />
          <p>{{"; ".join(results.fsmTitle)}}</p>
        </div>

      {% else %}
        <h2>{{"; ".join(results.fsmTitle)}}</h2>

        {% if results.fsmCreator %}
          <h3>{{"; ".join(results.fsmCreator)}}</h3>
        {% endif %}

        {{content}}

      {% endif %}
      </div>
    </div>
  </div>
</body>
</html>
