<div id="header">
    <div id="icon"><a href="/"><h1> FREE SPEECH MOVEMENT DIGITAL ARCHIVE </h1></a></div>
    <form id="search-form" action="/search" method="get">
        <input type="search" name="search" placeholder="Enter your keyword..." value={{query}}> 
        <button type="submit" class="btn btn-inverse btn-lg">Search the Archive!</button><br>
        <input type="radio" name="type" value="text" checked="true"}}>Text
        <input type="radio" name="type" value="image" 
    		{% if typeOfResource == "image" %}
    			checked="true"
    		{% endif %}>Image
        <div id="filter">
            {% for key in types %}
                <input type="checkbox" name="filter" value={{key}}> {{key}}
            {% endfor %}
        </div>
    </form>
</div>