<form id="search-form" action="/search" method="get">
    <div id="header">
        <div id="icon"><a href="/"><h1> FREE SPEECH MOVEMENT DIGITAL ARCHIVE </h1></a></div>
            <fieldset><legend></legend>
                <div id="search">
                    <label>
                        <input type="search" name="search" placeholder="Enter your keyword..." value='{{query}}'> 
                    </label>
                    <button type="submit" class="btn btn-inverse btn-lg">Search the Archive!</button><br>
                    <label><input type="radio" name="type" value="text" checked="true"}}>Text</label>
                    <label><input type="radio" name="type" value="image" 
                    	{% if typeOfResource == "image" %}
                    		checked="true"
                    	{% endif %}>Image</label>
                </div>
        	</fieldset>
        
    </div>

    <div id="filter">
        <h4>Filter by:</h4>
        {% for key in types %}
            <label><input type="checkbox" name="filter" value={{key}}> {{key}} <br></label>
        {% endfor %}
    </div>
</form>