<!DOCTYPE html>
<html>
<head>
  <title>Free Speech Movement Archive</title>
  <link rel="stylesheet" href="static/css/bootstrap.css">
</head>
<body>
  {% include "header.html" %}
  <h1>Search Results for {{query}}</h1>
  <h2>{{startRange}} - {{endRange}}</h2>
  <br>
  {% for elem in range(numPages) %}
    <a href={{"/search?%s&start=%s" % (queryParameters, elem + 1)}}>{{elem + 1}}</a>
  {% endfor %}
  <table>
    <th>fsmTitle</th>
    <th>fsmRelatedTitle</th>
    <th>fsmTypeOfResource</th>
    <th>fsmDateCreated</th>
    <th>fsmCreator</th>
    {% for doc in response %}
      <tr>
        <td><a href={{"/article?id=" + doc["id"].replace(' ', '%20')}}>{{doc["fsmTitle"]}}</a></td>
        <td>{{doc["fsmRelatedTitle"]}}</td>
        <td>{{doc["fsmTypeOfResource"]}}</td>
        <td>{{doc["fsmDateCreated"]}}</td>
        <td>{{doc["fsmCreator"]}}</td>
      </tr>
    {% endfor %}
  </table>
</body>
</html>
