<!DOCTYPE html>
<html>
<head>
  <title>Free Speech Movement Archive</title>
  <link rel="stylesheet" href="static/css/bootstrap.css">
  <link rel="stylesheet" href="static/css/custom.css">
  <link rel="stylesheet" href="static/css/search.css">
  <link href ='http://fonts.googleapis.com/css?family=Oswald|BenchNine' rel='stylesheet' type='text/css'>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js" type="text/javascript">
</script>

<body>
  {% include "header.html" %}
  <h3>Search Results for: {{query}} <br>
  Sort By:
  </h3>


  <div id="result-wrapper">
    
    <!--<table>
      <th>fsmTitle</th>
      <th>fsmRelatedTitle</th>
      <th>fsmTypeOfResource</th>
      <th>fsmDateCreated</th>
      <th>fsmCreator</th>
      {% for doc in response %}
        <tr>
          <td><a href={{"/article?id=" + doc["id"].replace(' ', '%20')}}>{{doc["fsmTitle"][0]}}</a></td>
          <td>{{doc["fsmRelatedTitle"]}}</td>
          <td>{{doc["fsmTypeOfResource"]}}</td>
          <td>{{doc["fsmDateCreated"]}}</td>
          <td>{{doc["fsmCreator"]}}</td>
        </tr>
      {% endfor %}
    </table>-->
    {% for doc in response %}
        {% if doc["fsmImageUrl"] %}
          <div class="image">
            <a href={{"/article?id=" + doc["id"].replace(' ', '%20')}}>
            <img src={{doc["fsmImageUrl"][0]}} style="max-height:100%"/><br>{{doc["fsmTitle"][0]}}</a>
          </div>
        {% else %}

          <div class="result">

            {{doc["fsmTypeOfResource"]}}

            <a href={{"/article?id=" + doc["id"].replace(' ', '%20')}}>{{doc["fsmTitle"][0]}}</a>
            {% if doc["fsmRelatedTitle"] %}
              ({{doc["fsmRelatedTitle"][0]}})
            {% endif %}
            <p class=snippet id={{doc["id"]}}>A short snippet that contains the keywords</p>
            <span id={{'snippet' + doc["id"].replace('.', '')}}>#matches: 0</span>

          </div>

        {% endif %}

    {% endfor %}


  </div>

  <h3>
    {% for elem in range(numPages) %}
      <a href={{"/search?%s&start=%s" % (queryParameters, elem + 1)}}>{{elem + 1}}</a>
    {% endfor %}
  </h3>
</body>
<script>
  $(document).ready(function(){
    $('.snippet').each(function(i, obj) {
      if (i != 0) {
        return;
      }
      $.ajax({
        url: '/find_snippets',
        type: 'GET',
        data: {'id': obj.id, 'query': '{{query}}'},
        dataType: 'json',
        success: function(data, status){
          obj.innerHTML = data.snippet;
          $('#snippet' + data.id.replace('.', ''))[0].innerHTML = "#matches: " + data.matches;
        }
      });
    });
  });
</script>
</html>
