<!DOCTYPE html>
<html>
<head>
  <title>Free Speech Movement Archive</title>
  <link rel="stylesheet" href="static/css/bootstrap.css">
  <link rel="stylesheet" href="static/css/custom.css">
  <link rel="stylesheet" href="static/css/search.css">
  <link href ='http://fonts.googleapis.com/css?family=Oswald|BenchNine' rel='stylesheet' type='text/css'>
</head>
<body>
  {% include "header.html" %}
  <h3>Search Results for: {{query}} <br>
  Sort By:
  </h3>


  <div id="result-wrapper">
    
    <!--<table>
      <th>fsmTitle</th>
      <th>fsmRelatedTitle</th>
      <th>fsmTypeOfResource</th>
      <th>fsmDateCreated</th>
      <th>fsmCreator</th>
      {% for doc in response %}
        <tr>
          <td><a href={{"/article?id=" + doc["id"].replace(' ', '%20')}}>{{doc["fsmTitle"][0]}}</a></td>
          <td>{{doc["fsmRelatedTitle"]}}</td>
          <td>{{doc["fsmTypeOfResource"]}}</td>
          <td>{{doc["fsmDateCreated"]}}</td>
          <td>{{doc["fsmCreator"]}}</td>
        </tr>
      {% endfor %}
    </table>-->
    {% if typeOfResource == "image" %}
      {% for doc in response %}
        <a href={{"/article?id=" + doc["id"].replace(' ', '%20')}}>
        <img src={{doc["fsmImageUrl"][0]}} style="max-height:100%"/></a>
      {% endfor %}

    {% else %}
      {% for doc in response %}
          <div class="result">

              {{doc["fsmTypeOfResource"]}}

              <a href={{"/article?id=" + doc["id"].replace(' ', '%20')}}>{{doc["fsmTitle"][0]}}</a>
              {% if doc["fsmRelatedTitle"] %}
                ({{doc["fsmRelatedTitle"][0]}})
              {% endif %}
              <p class=snipet id={{doc["id"]}}>A short snippet that contains the keywords</p>
              <span>#matches: 0</span> <span>#citations: 0</span>

            </div>
      {% endfor %}
    {% endif %}

  </div>

  <h3>
    {% for elem in range(numPages) %}
      <a href={{"/search?%s&start=%s" % (queryParameters, elem + 1)}}>{{elem + 1}}</a>
    {% endfor %}
  </h3>
</body>
<script>
  $(document).ready(function(){
    $('.snipet').each(function(i, obj) {
      window.alert(i);
      $.ajax({
        url: '/test',
        type: 'POST',
        data: data,
        dataType: 'json',
        success: function(data,status){
            alert(data.name);
            alert("Data" + data +"status"+status);
        }
      });
    });
  });
</script>
</html>
