<form id="search-form" action="/search" method="get">
    <div id="header">
        <div id="icon"><a href="/"><h1> FREE SPEECH MOVEMENT DIGITAL ARCHIVE </h1></a></div>
        <fieldset><legend></legend>
            <div id="search">
                <label><span class="hidden"> Search </span>
                    <input type="search" name="search" placeholder="Enter your keyword..." value='{{query}}'> 
                </label>
                <button type="submit" class="btn btn-inverse btn-lg">Search the Archive!</button><br>
                <label><input type="radio" name="type" value="text" checked="true"}}>Text</label>
                <label><input type="radio" name="type" value="image" 
                	{% if typeOfResource == "image" %}
                		checked="true"
                	{% endif %}>Image
                </label>
                <label><input type="radio" name="type" value="audio" 
                    {% if typeOfResource == "audio" %}
                        checked="true"
                    {% endif %}>Audio
                </label>
            </div>
    	</fieldset>
    </div>

    <div id="filter">
        <fieldset><legend></legend>
            <h2 class="small-title">Filter by:</h2>
            {% if typeOfResource == "text" %}
                {% for key in types %}
                    {% if key != "other" %}
                        <label><input type="checkbox" name="filterType" value="{{key}}" 
                            {% if key in filterType %}     
                                checked="true"
                            {% endif %} onclick="this.form.submit();"> {{key}} ({{types[key]}}) <br></label>
                    {% endif %}
                {% endfor %}

                <label><input type="checkbox" name="filterType" value="other" 
                    {% if "other" in filterType %}     
                        checked="true"
                    {% endif %} onclick="this.form.submit();"> other ({{types["other"]}}) <br></label>
            {% elif typeOfResource == "audio" %}
                <label><input type="radio" name="collectionFilter" value="1712" onclick="this.form.submit();"
                    {% if 1703 != collection %}
                        checked="true"
                    {% endif %} onclick="this.form.submit();">UCSF Archives & Special Collections</label><br>
                <label><input type="radio" name="collectionFilter" value="1703" 
                    {% if 1703 == collection %}
                        checked="true"
                    {% endif %} onclick="this.form.submit();">UC-Berkeley Ethnic Studies Library</label>
            {% endif %}
        </fieldset>
    </div> 
</form>