html, body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	background: url(/static/background.jpg) fixed; 
  	background-size: cover;
}


h1 {
	font-size: 300%;
	color: white;
	font-family: Oswald;
	text-align: left;
	line-height: 120%;
	margin-left: 20px;
	margin-top: 40px;
	padding-top: 10px;
}

#icon {
	width: 580px;
	background-color: rgba(0,0,0,0.8);
	height: 150px;
}

#icon a:hover {
	text-decoration: none;
}

#header {
	box-shadow: 5px 5px 5px #707070;
	font-size: 1.3em;
	height: 150px;
	background-color: rgba(255,255,255,0.8);
}

#header input {
	margin: 10px;
}

#header input[type="search"] {
	width:30%;
}

button {
	margin-left: 1.5%;
}

#search-form {
	text-align: left;
	position: relative;
	top: -120px;
	left: 590px;
}
