html, body{
	margin: 0;
	padding: 0;
}


body {
	background: url(/static/background.jpg) fixed; 
  	background-size: cover;
}

h1 {
	text-align: center;
	padding: 1%;
}

#wrapper {
	background-color: rgba(255,255,255,0.8);
}

#search-form {
	margin-left: 20%;
}


