h2, h3 {
	text-align: center;
	background-color: white;
	padding: 1%;
}

i {
	text-align: center;
	display: block;
}

audio {
	width: 100%;
	margin-bottom: 2%;
}

#type {
	width: 200px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-size: 150%;
	padding: 1%;
	margin-left: 10%;
	margin-top: 5%;
	text-transform: uppercase;
}

#result-wrapper {
	margin-left: 10%;
	margin-right: 10%;
}

#result {
	background-color: rgba(255,255,255,0.4);
	padding: 4%;
}

#article {
	background-color: white;
	padding: 6%;
	font-size: 120%;
}

#image {
	text-align: center;
}

#more {
	font-size: 80%;
	border-top: 1px solid black;
	padding-top: 12px;
}