h2, h3 {
	text-align: left;
	background-color: white;
	padding: 1%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}

h3 {
	text-align: center;
	margin-bottom: 1%;
	clear: both;
	margin-top: 2%;
}

#result-wrapper {
	margin-left: 10%;
	margin-right: 10%;
	background-color: rgba(255,255,255,0.8);
}


img {
    width: 19%;
    height: 250px;
    float: left;
    border-style:solid;
	border-width:4px;
	border-color: rgba(0,0,0,0.5);
}

.result {
	padding: 2%;
	margin: 2%;
	background-color: white;
}

.result a {
	font-size: 150%;
}

.type {
	background-color: black;
	color: white;
	width: 150px;
	float: right;
	position: relative;
	background-color: rgba(0,0,0,0.5);
	padding: 1%;
	text-transform:uppercase;
}

.type.letters {
	background-color: rgba(15,108,145,0.5);
}

.type.personal.statements, .type.oral.histories, .type.group.statements {
	background-color: rgba(39,139,14,0.5);
}

.type.reports, .type.briefs, .type.transcripts, .type.progress, .type.minutes {
	background-color: rgba(0,115,153,0.5);
}

.type.newspapers, .type.articles, .type.news.bulletins, {
	background-color: rgba(153,0,38,0.5);
}

.type.title.pages, .type.table.of.content, .type.leaflets {
	background-color: rgba(220,150,3,0.5);
}

.type.magazines {
	background-color: rgba(115,153,0,0.5);
}
