h2, h3 {
	background-color: white;
	padding: 1%;
	margin-top: 3%;
}

h3 {
	text-align: center;
	clear: both;
	margin-bottom: 3%;	
}

img {
    width: 19%;
    height: 260px;
    float: left;
    border-style:solid;
	border-width:5px;
	border-color: rgba(0,0,0,0.5);
}

legend {
	margin-bottom: 0px;
}

.result {
	padding: 2%;
	margin: 3%;
	margin-right: 0%;
	background-color: white;
}

.type {
	color: white;
	width: 150px;
	float: right;
	position: relative;
	background-color: rgba(0,0,0,0.8);
	padding: 1%;
	text-transform:uppercase;
}

.type.letters {
	background-color: rgba(9,64,85,0.8);
}

.type.personal.statements, .type.oral.histories, .type.group.statements {
	background-color: rgba(28,99,10,0.8);
}

.type.reports, .type.briefs, .type.transcripts, .type.minutes, .type.pro.rep {
	background-color: rgba(0,64,85,0.8);
}

.type.newspapers, .type.articles, .type.news.bulletins, {
	background-color: rgba(106,0,27,0.8);
}

.type.title.pages, .type.table.of.content, .type.leaflets {
	background-color: rgba(94,0,94,0.8);
}

.type.magazines {
	background-color: rgba(113,0,56,0.8);
}

.snippet, .result {
	border-left: 1px;
}

.link {
	font-size: 140%;
	color: rgb(0, 0, 119);
}

#search {
	padding-top: 5%;
}

#filter {
	display: none;
	padding: 1%;
	padding-right: 0%;
	width: 12%;
	float: right;
	background-color: rgba(255,255,255,0.8);
	margin-top: 3%;
	box-shadow: 5px 5px 5px #707070;
}

#text-result, #audio-result {
	margin-right: 16%;
	background-color: rgba(0,0,0,0.5);
}

#img-result {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3%;
	text-align: center;
}
