h2, h3 {
	text-align: center;
	background-color: white;
	padding: 1%;
	margin-left: 10%;
	margin-right: 10%;
}

h3 {
	margin-bottom: 1%;
	margin-top: 1%;
	clear: both;
}

#result-wrapper {
	margin-left: 10%;
	margin-right: 10%;
	background-color: white;

}

.result {
	margin: 3%;
}

.image {
    width: 25%;
    display: inline-block;
    float: left;
    text-align: center;
    background-color: white;
}